
h1, p {
  margin: 0;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
}

/*===== CARD =====*/
.container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F2F5FF;
}

.card {
  width: 320px;
  height: 400px;
  background-color: #272D40;
  border-radius: 1rem;
  padding: 4rem 2rem 0;
  color: #E9EAEC;
  overflow-y: hidden;
}

.card__img {
  position: absolute;
  width: 260px;
  filter: drop-shadow(5px 10px 15px rgba(8,9,13,.4));
}

.card__data {
  transform: translateY(13.2rem);
  text-align: center;
}

.card__title {
  font-size: 1.5rem;
  color: #F2A20C;
  margin-bottom: .5rem;
}

.card__preci {
  display: inline-block;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.25rem;
}

.card__description {
  font-size: .875rem;
  text-align: initial;
  margin-bottom: 1.25rem;
  opacity: 0;
}

.card__button {
  display: block;
  width: max-content;
  padding: 1.125rem 2rem;
  background-color: #F2A20C;
  color: #E9EAEC;
  border-radius: .5rem;
  font-weight: 600;
  transition: .2s;
  opacity: 0;
}

.card__button:hover {
  box-shadow: 0 18px 40px -12px rgba(242,162,12,.35);
}

.card__img, 
.card__data, 
.card__title, 
.card__preci, 
.card__description {
  transition: .5s;
}

/* Hover card effect */
.card:hover .card__img {
  transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
}

.card:hover .card__data {
  transform: translateY(4.8rem);
}

.card:hover .card__title {
  transform: translateX(-2.3rem);
  margin-bottom: 0;
}

.card:hover .card__preci {
  transform: translateX(-6.8rem);
}

.card:hover .card__description, 
.card:hover .card__button {
  transition-delay: .2s;
  opacity: 1;
}