/*===== CARD =====*/
.container {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 1em;
}

.card {
    width: 20em;
    height: 25em;
    background-color: #151515;
    border-radius: 1rem;
    padding: 1.5rem 2rem 0;
    color: #cdcdcd;
    
}

.card__img {
    width: 15em;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, .4));
    margin-bottom: -14em;
}

.card__data {
    transform: translateY(13.2rem);
    text-align: center;
}

.card__title {
    font-size: 30px;
    color: #ce1334;
    margin-bottom: .5rem;
}

.card__preci {
    display: inline-block;
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 1.25rem;
}

.card__description {
    font-size: 16px;
    text-align: initial;
    margin-bottom: 1.25rem;
    opacity: 0;
    color: #fff;
    font-weight: 600;
}

.card__button {
    display: block;
    width: max-content;
    padding: 1.125rem 2rem;
    background: linear-gradient(90deg, #591DFF 15.63%, #FF4062 100.06%);
    color: #E9EAEC;
    border-radius: .5rem;
    font-weight: 600;
    transition: .2s;
    opacity: 0;
}

.card__button:hover {
    box-shadow: 0 18px 40px -12px #a30c40;
}

.card__img,
.card__data,
.card__title,
.card__preci,
.card__description {
    transition: .5s;
}

/* Hover card effect */
.card:hover .card__img {
    transform: translate(-1.5rem, -9.5rem) rotate(-20deg);
}

.card:hover .card__data {
    transform: translateY(4.8rem);
}

.card:hover .card__title {
    transform: translateX(-2.3rem);
    margin-bottom: 0;
}

.card:hover .card__preci {
    transform: translateX(-6.8rem);
}

.card:hover .card__description,
.card:hover .card__button {
    transition-delay: .2s;
    opacity: 1;
}