.containerSeccion {
    display: flex;
    height: 90vh;
background: #38111C;
background: radial-gradient(at left center, #38111C, #080707);
    z-index: 0;

    .contenido {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        height: 80vh;
        width: 60%;

        div {
            color: #ffffff;
            display: flex;
            flex-direction: column;
            justify-content: center;

            h1 {
                font-size: 50px;
            }

            a {
                width: 20em;

                button {
                    background-color: red;
                    color: #fff;
                    width: 15em;
                    height: 3.5em;
                    border-radius: 20px;
                    border: none;
                }
            }

            .cssbuttons_io_button {
                background: linear-gradient(90deg, #591DFF 15.63%, #FF4062 100.06%);
                color: white;
                font-family: inherit;
                padding: 0.35em;
                padding-left: 1.2em;
                font-size: 17px;
                font-weight: 500;
                border-radius: 0.9em;
                border: none;
                letter-spacing: 0.05em;
                display: flex;
                align-items: center;
                box-shadow: inset 0 0 1.6em -0.6em #714da6;
                overflow: hidden;
                position: relative;
                height: 2.8em;
                width: 40%;
                padding-right: 3.3em;

                .icon {
                    background: #000;
                    margin-left: 1em;
                    position: absolute;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    height: 2.2em;
                    width: 2.2em;
                    border-radius: 0.7em;
                    right: 0.3em;
                    transition: all 0.3s;
                }
            }

            .cssbuttons_io_button:hover .icon {
                width: calc(100% - 0.6em);
            }
        }

        .adorno {
            background-color: #331a7a;
            height: 13em;
            width: 14em;
            border-radius: 30px;
            position: absolute;
            bottom: -9em;
            left: -5em;
            transform: rotate(132deg);
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 5;

            div {
                background-color: #6237db;
                height: 60%;
                width: 67%;
                border-radius: 30px;
            }
        }
    }

    .lotiPhone {
        width: 40%;
        height: 80vh;

        .phone1 {
            z-index: 3;
            position: absolute;
            top: 7.5em;
            margin-left: 2em;
            height: 35em;
            width: 40em;
        }

        .detras {
            margin-top: -2em;
            height: 114%;
            width: 53em;
            border-radius: 80px;
            transform: rotate(136deg);
            border-left: 20vw solid transparent;
            border-right: 20vw solid transparent;
            background-color: #c32742;
            z-index: 0;
            display: flex;
            justify-content: center;
            align-items: flex-end;
            position: relative;
            right: -10em;

            .detras1 {
                height: 55em;
                width: 62rem;
                background-color: #e23c4d;
                z-index: 1;
                position: absolute;
                margin-bottom: 9em;
                border-radius: 80px;
                margin-right: 21em;
            }
        }
    }
}

.quienesSomos {
background: #38111C;
background: radial-gradient(at center bottom, #38111C, #080707);
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: space-around;

    .phone {
        width: 40%;
        height: 80vh;

        .phone2 {
            z-index: 3;
            position: relative;
            margin-left: -8em;
            height: 35em;
            width: 50em;
        }
    }

    .somos {
        width: 100%;
        height: 60%;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;

        .titulo1 {
            text-align: center;
            display: flex;
            flex-direction: column;

            h1 {
                font-size: 60px;
                margin-bottom: -20px;
            }

            h4 {
                font-size: 20px;
                color: #ffffff;
            }
        }

        .opciones {
            display: flex;
            flex-direction: column;
            align-items: center;

            .solucion {
                display: flex;
                height: 30vh;
                justify-content: center;
                align-items: center;
                text-align: center;
                width: 90%;

                .soluciones {
                    margin: auto;
                    padding: 2em;
                }
            }
        }
    }
}

.servicios{
    display: flex;
    background: #38111C;
    background: radial-gradient(at center top, #38111C, #080707);
    justify-content: center;
}