
.menu{
    display: flex;
    width: 100%;
    height: 5em;
    background-color: #030303;
    justify-content: space-between;
    color: #fff;
    .logo{
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        .icon{
            height: 3.5em;
        }
    }
    .navMenu{
        display: flex;
        list-style: none;
        width: 30%;
        gap: 2em;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 18px;
    }
    .redes{
        display: flex;
        align-items: center;
        width: 15%;
        a{
            .btnRedes{
                border-radius: 15px;
                font-size: 100%;
                width: 10em;
                color: #614b9e;
                border: none;
            }
            .btnRedes:hover{
                background-color: #351f73;
                color: #ffffff;
                transition: .5s;
            }
        }
    }
}