.menu {
    display: flex;
    width: 100%;
    height: 6em;
    background: transparent;
    justify-content: space-between;
    color: #fff;
    padding: 0px 20px;

    .logo {
        height: 100%;
        width: 10%;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        .icon {
            height: 9em;
        }
    }

    .navMenu {
        display: flex;
        list-style: none;
        width: 30%;
        gap: 2em;
        justify-content: center;
        align-items: center;
        font-weight: 600;
        font-size: 18px;

        li {
            transition: .5s;
        }

        li:hover {
            color: #FE1F54;
        }
    }

    .container_redes {
        display: flex;
        width: 180px;
        align-items: center;
        justify-content: center;
    }

    .btn_redes {
        position: relative;
        display: flex;
        overflow: hidden;
        cursor: pointer;
        width: 100%;
        height: 50px;
        background: transparent;
        border-radius: 80px;
        border: none;
        padding: 0 5px;
        transition: all .2s ease;
        justify-content: center;
        align-items: center;

        :hover {
            transform: scale(1.1);
        }

        span {
            position: absolute;
            z-index: 99;
            width: 100%;
            height: 50px;
            border-radius: 80px;
            font-weight: 600;
            font-size: 18px;
            text-align: center;
            line-height: 50px;
            color: #3B1E8C;
            background-color: #D9D9D9;
            padding: 0 5px;
            transition: all 1.2s ease;
        }

        div {
            display: flex;
            width: 100%;
            height: 100%;
            border-radius: 80px;
            line-height: 50px;
            align-items: center;
            justify-content: space-around;
            position: absolute;
            z-index: 5;

            a {
                padding: 0 5px;
                opacity: 0;
                display: flex;
                align-items: center;
                justify-content: center;

                i {
                    font-size: 30px;
                    color: #D9D9D9;
                }
            }
        }

        div a:nth-of-type(1) {
            transition-delay: 0.65s;
        }

        div a:nth-of-type(2) {
            transition-delay: 0.8s;
        }

        div a:nth-of-type(3) {
            transition-delay: 0.5s;
        }
    }

    .btn_redes:hover span {
        opacity: 0;
    }

    .btn_redes:hover a {
        opacity: 1;
    }
}